# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
/.build/
/Packages/
/Package.resolved

# CocoaPods (если используешь)
/Pods/

# Carthage
/Carthage/